<h1 class="jumbotron">
  Total COVID cases worldwides
  {{ covidSummary?.Global?.TotalConfirmed | number: "1.0":"en-US" }}
</h1>

<h2>
  Philippines:
  {{ philippinesCovidCases?.TotalConfirmed | number: "1.0":"en-US" }}
</h2>

<h3>Rest of the world</h3>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Country</th>
      <th scope="col">Total Confirmed</th>
      <th scope="col">Total Deaths</th>
      <th scope="col">Total Recovered</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let country of covidSummary?.Countries">
      <td>{{ country.Country }}</td>
      <td>{{ country.TotalConfirmed | number: "1.0":"en-US" }}</td>
      <td>{{ country.TotalDeaths | number: "1.0":"en-US" }}</td>
      <td>{{ country.TotalRecovered | number: "1.0":"en-US" }}</td>
    </tr>
  </tbody>
</table>
